<!DOCTYPE html>
<html>
  <head>
    <title>Elearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="container">
      <%= yield :head %>
    </div>
    <script async>
      (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='b40cb15655dcecb6fb6523c5d3b5fba14d860d2c3d77bba7f44b01eef3e08b8a';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
    </script>
  </head>
  <body>
    <%= render partial:  "shared/header" %>
    <%= render partial:  "shared/message" %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render partial:  "shared/footer" %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
      });

      
  </script>
</html>
